*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* width: 100vw;
    height: 100vh; */
    background-image: url('./img/Фон.png');
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    font-family: 'Ubuntu', sans-serif;
}

.header_wrapper {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    width: 1208px;
    margin: 0 auto;
}

.header_nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 18px;
}

.logo_link {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

a { 
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #3CB878;
}

.header_nav_rightside_content {
    display: flex;
    align-items: center;
    gap: 26px;
    /* position: relative; */ /* вариант для псевдоэлемента */
}

/* .svg_icon:nth-child(3) {
    margin-right: 25px;
} */ /* вариант для псевдоэлемента */

.svg_icon:hover {
    filter: invert(54%) sepia(63%) saturate(413%) hue-rotate(96deg) brightness(99%) contrast(89%);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s ease;
}

/* .svg_icon {
    cursor: pointer;
} */
/* .svg_icon:hover .svg_color {
    fill:#3CB878;
} */ /* вариант для другого способа изменения цвета svg при наведение курсора */

.line_border {
    height: 19px;
    width: 1px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
} /* закомментировать, чтоб отобразить псевдоєлемент */

.nav_rightside_font {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

/* .nav_rightside_font::before {
    content: url('./img/line.svg');
    position: absolute;
    opacity: 0.5;
    bottom: 0;
    right: 197px;
} */ /* вариант для псевдоэлемента */

/* Header is over */

.main_container {
    /* padding: 54px 0 74px; */
    /* position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); */
    position: fixed;
    left: calc(50% - 445px/2);
    top: calc(50% - 584px/2 + 19px);
}

.main_form {
    width: 445px;
    height: 584px; /* min-height: 584px; */
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
    padding: 30px 60px 38px 60px;
}

.main_form::before {
    content: '';
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    top: 29px;
    left: 0;
}

.main_form_login {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

p.form_signup {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.main_form a {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.log_in_link:hover {
    color: #01813F;
    text-decoration: underline;
}

.main_form_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.button {
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.facebook_button {
    gap: 32px;
    background: #305DB8;
    padding: 9px 20px 9px 10px;
}

.facebook_button:hover {
    background: #022263;
    transform: scale(1.05);
    transition: 0.2s ease;
}

.facebook_button:hover .svg_facebook, .google_button:hover .svg_google {
    transition: 0.2s ease;
    transform: translateX(5px);
}

.form_text {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.form_text_facebook::before, .form_text_google::before {
    content:'';
    width: 1px;
    height: 28px;
    opacity: 0.1;
    position: absolute;
    bottom: 7px;
    left: 47px;
} 

.form_text_facebook::before {
    background: #0A162F;
}

/* .form_line_border_facebook {
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    margin-left: 13px;
    margin-right: 18px;
} */ /* раскомментировать, чтоб отобразить */

.google_button {
    gap: 38px;
    background: #DF4A32;
    padding: 9px 26px 9px 10px;
}

.google_button:hover {
    background: #AB1F09;
    transform: scale(1.05);
    transition: 0.2s ease;
}

.form_text_google::before {
    background: #2B0D09;
}

/* .form_line_border_google {
    width: 1px;
    height: 28px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin-left: 7px;
    margin-right: 30px;
} */ /* раскомментировать, чтоб отобразить */

.main_form_linebraker {
    text-align: center;
    margin-top: 31px;
}

/* .line_brake {
    width: 152px;
    height: 0;
    border: 1px solid #F2F2F2;
} */

.form_text_center {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.form_text_center::before, .form_text_center::after {
    content: '';
    position: absolute;
    width: 152px;
    height: 1px;
    border: 1px solid #F2F2F2;
}

.form_text_center::before {
    top: 145px;
    left: 58px;
}

.form_text_center::after {
    top: 145px;
    right: 58px;
}

.main_input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 12px;
}

.input {
    padding: 15px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    outline: none;
}

.input::placeholder {
    color: #BEBEBE;
}

.input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.main_form_conditions_checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
    user-select: none;
    cursor: pointer
}

.checkbox {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=checkbox] {
    display: none;
}

.svg_check_mark {
    display: none;
}

.checkbox_hidden:checked~ .checkbox .svg_check_mark {
    display: block;
}

span {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.checkbox_text_color {
    color: #3CB878;
}

.checkbox_text_color:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
} 

.create_account_link {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 324px;
    padding: 16px 20px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    margin-top: 19px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.create_account_link:hover {
    background: #01813F;
    transform: scale(1.03);
    transition: 0.3s ease;
}

/* .account_text {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
} */